<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Portifólio</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/default-profile.jpg" alt="Foto Perfil">
            <h1>Rafael Cardoso</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/devrhc/">
                    <i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/DEVRHC">
                    <i class="bi bi-github"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Rafael Cardoso</h2>
                <span id="subtitle" class="text-white text-shadow">Back-end Developer, Graduando em Ciências da
                    Computação. </span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Acredito no poder da educação como um agente transformador de realidades. Atualmente, estou
                        cursando o bacharelado em Ciência da Computação, uma oportunidade que tem mudado
                        significativamente minha realidade social e econômica, além de me proporcionar recursos para
                        continuar estudando cada vez mais.

                        Essa trajetória me encorajou a iniciar meus próprios projetos, nos quais venho conquistando
                        resultados positivos. Com quatro anos de experiência na área de tecnologia, busco constantemente
                        me atualizar em relação às novas tendências e inovações do setor.

                        Hoje, mais uma vez, estou me desafiando ao mergulhar nesse universo das linhas de código —
                        ferramentas que impactam profundamente o dia a dia de todos que utilizam a tecnologia. Essa é
                        minha vocação: estudar, aprender, desenvolver, influenciar e motivar outras pessoas que, assim
                        como eu, desejam trilhar essa jornada.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/default-profile.jpg" alt="Foto Perfil">
                </div>
                <div class="col md-8">
                    <h3>Back-end Developer</h3>
                    <p>Atualmente, estou focado em expandir meus conhecimentos por meio do desenvolvimento de projetos
                        utilizando Python e banco de dados SQLite.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-lighter">30/05/1996</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">28 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Rio Grande</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">RS</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Tocar Instrumentos</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">Tecnico em Informatica</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">4 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Site: <span class="fw-lighter">Em construção...</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>Buscando me atualizar sempre das novidades para tornar a programação cada vez mais simples.</p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia, adquiri algumas habilidades técnicas e não técnicas.
                    A maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <div class="row">
                    <div class="col md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                    </div>

                    <div class="col md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p class="mt-3 mb-0">SQLite</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em Equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="99"
                                aria-valuemin="0" aria-valuemax="100">99%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a Detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Educação</h3>

                        <div class="mt-5 cv-item">
                            <h4>Bacharelado em Ciências da Computação</h4>
                            <h5>2025 - Cursando 1/6</h5>
                            <p><em>GRAN Faculdade</em></p>
                            <p>Graduação voltada para área de Ciências da Computação</p>
                        </div>

                        <div class="cv-item">
                            <h4>Python Impressionador</h4>
                            <h5>2024 - 2025</h5>
                            <p><em>Hashtag Treinamentos</em></p>
                            <p>Curso técnico focado em programação em Python com Jupyter Notebook</p>
                        </div>

                        <div class="cv-item">
                            <h4>Análise de dados Impressionadora</h4>
                            <h5>2024</h5>
                            <p><em>Hashtag Treinamentos</em></p>
                            <p>Trilha com carga horária 70h de curso, com especialização em Python para Análise De
                                Dados.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Go + React na Prática</h4>
                            <h5>2024</h5>
                            <p><em>Rocketseat</em></p>
                            <p>Curso de Go e React com carga horária: 5 horas, voltado para Desenvolvimento de
                                aplicações front-end em ReactJS, criação de API back-end web utilizando Go com Gorilla
                                Websockets, migrations e Go-Chi como router.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Desenvolvimento Web</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Udemy</em></p>
                            <p>Curso técnico voltado para programação web, JS, React, Next, Vue, Node, HTML, CSS,
                                jQuery, Bootstrap, Webpack, Gulp, MySQL </p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3>Profissional</h3>

                        <div class="mt-5 cv-item">
                            <h4>Técnico de Suporte TI Pleno - N2</h4>
                            <h5>2025 - Até o momento</h5>
                            <p><em>Ilha Service Tecnologia e Serviços</em></p>
                            <p>Atuando como suporte técnico para o Hospital Universitário da FURG, tendo como cliente a
                                EBSERH/RS, resolvendo problemas técnicos em geral. </p>
                        </div>

                        <div class="cv-item">
                            <h4>Coordenador de Suporte Técnico Jr.</h4>
                            <h5>2023 - 2024</h5>
                            <p><em>Ponto Técnico Informática</em></p>
                            <p>Colaboração com equipes para atualizar sistemas e implementar novas tecnologias.
                                Diagnóstico e reparo de falhas em equipamentos como desktops, notebooks, impresoras e
                                dispositivos móveis. Gerenciamento de sistemas de tickets (ex: Movidesk), para
                                rastreamento e resolução de incidentes técnicos.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Técnico de Informática</h4>
                            <h5>2021 - 2023</h5>
                            <p><em>Ponto Técnico Informática</em></p>
                            <p>Prestação de suporte técnico N1 e N2 para clientes internos e externos, solucionando
                                chamados em tempo hábil. Monitoramento e manutenção preventiva de servidores e sistemas
                                operacionais Windows e Linux. Instalação e configuração de ferramentas de backup local e
                                em ambientes virtualizados. Administração de redes locais (LAN) e redes sem fio (Wi-Fi),
                                incluindo configurações de switches e roteadores. Instalação, configuração e manutenção
                                de hardware, software e periféricos, garantindo a operação contínua das estações de
                                trabalho.</p>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pb-5">

                <h2>Portifólio</h2>

                <div id="carouselPortifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
        </section>

    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>